<!-- <div data-height="250" class="caption caption-margins round-medium shadow-large">
    <div class="caption-bottom center-text bottom-25">
        <h1 class="font-28 color-white">We're Enabled</h1>
        <span class="under-heading color-highlight font-11">The Best Mobile Author on Envato</span>
    </div>
    <div class="caption-overlay bg-gradient-fade"></div>
    <div class="caption-bg bg-9"></div>
</div> -->


<div class="content bottom-0">
    <a class="embedly-card" data-card-controls="0" href="https://alison.com/courses/microsoft-excel-2013-for-beginners-start-your-excel-journey/content?event=login"></a>
</div>
<div class="content">
    <h5 class="bolder"><%= @lecture.title %></h5>
    <p>
        <%= @lecture.address %>
    </p>
</div>

<div class="content">
    <div class="content-title has-border border-green2-dark bottom-10">
        <h2>Our Goal</h2>
    </div>
    <span class="under-heading color-highlight font-10 bottom-10">The Force that Drives Us</span>
    <p class="bottom-30">
        Over the past 10 years we've built exclusively for Mobile Devices to make their experience perfect and app like.
    </p>

    <div class="link-list link-list-2 link-list-long-border link-list-icon-bg bottom-50">
        <a href="#">
            <i class="bg-red2-dark round-huge shadow-huge fa fa-user"></i>
            <span>30+ Customers</span>
            <strong>Always Happy To Help </strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
        <a href="#">
            <i class="bg-green1-dark round-huge shadow-huge fa fa-mobile-alt font-18"></i>
            <span>200+ Products</span>
            <strong>Mobile Websites and Apps</strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
        <a href="#">
            <i class="bg-yellow1-dark round-huge shadow-huge fa fa-star"></i>
            <span>100% Satisfaction</span>
            <strong>We're always here for You!</strong>
            <i class="fa fa-check-circle font-15 color-green1-dark"></i>
        </a>
    </div>

</div>



<div class="content">
    <div class="content-title has-border border-red2-dark bottom-10">
        <h2>Focused on Quality</h2>
    </div>
    <span class="under-heading color-highlight font-10">We build Products to Serve your Needs</span>
    <p class="top-10 bottom-50">
        Every product we built is desgined to bring the best in its class without sacrificing on performance or features.
    </p>
</div>

<div class="content bottom-0">
    <a href="#" class="clear">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="images/pictures/18m.jpg" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">Kolor Mobile</h5>
            <span class="under-heading font-10 color-highlight">The Creative Mobile Page</span>
            <p class="font-12">
                Released with Creativity in mind and rocking a Beautiful Color Pack.
            </p>
        </div>
    </a>
    <a href="#" class="clear">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="images/pictures/14m.jpg" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">Ultra Mobile</h5>
            <span class="under-heading font-10 color-highlight">Powerful Beyond Words</span>
            <p class="font-12">
                Designed to give you everything you'll ever need to rock your page.
            </p>
        </div>
    </a>
    <div class="clear"></div>
    <h3>Leave Comments</h3>
    <div class="form-field form-text">
        <textarea name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
    </div>
    <div class="form-button">
        <input type="submit" class="button bg-highlight button-m button-full round-small shadow-huge bottom-0 contactSubmitButton" value="Send Message" data-formId="contactForm" />
    </div>
    <div class="clear"></div>
</div>

<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
