      <div class="footer-menu footer-5-icons footer-menu-center-icon">
        <a href="/subscription"><i class="fa fa-gift"></i><span>구독</span></a>
          <a href="/products"><i class="fas fa-coffee"></i><span>제품</span></a>
          <a href="/index" class="active-nav"><i class="fa fa-home"></i><span>메인</span></a>
          <a href="/lectures"><i class="fas fa-video"></i><span>교육</span></a>
          <a href="/menu"><i class="fa fa-bars"></i><span>Menu</span></a>
          <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
