      <div class="footer-menu footer-5-icons footer-menu-center-icon">
        <a href="/index" class="menu-home-index"><i class="fa fa-home"></i><span>홈</span></a>
        <!-- <a href="/subscription"><i class="fa fa-gift"></i><span>구독</span></a> -->
          <a href="/products" class="menu-products-index"><i class="fas fa-shopping-cart"></i><span>구매하기</span></a>
          <a href="/lectures" class="menu-lectures-index"><i class="fas fa-heart"></i><span>기부하기</span></a>
          <a href="/mypage" class="menu-home-mypage"><i class="fas fa-list"></i><span>리포트</span></a>
          <a href="/menu" class="menu-home-menu"><i class="fa fa-bars"></i><span>메뉴</span></a>
          <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){
  $('.menu-<%= controller_name %>-<%= action_name %>').addClass('active-nav');
})

</script>
