      <div class="footer-menu footer-5-icons footer-menu-center-icon">
          <a href="/pages.html"><i class="fa fa-file"></i><span>Pages</span></a>
          <a href="/components.html"><i class="fa fa-gift"></i><span>Features</span></a>
          <a href="/index" class="active-nav"><i class="fa fa-home"></i><span>Home</span></a>
          <a href="/media.html"><i class="fa fa-camera"></i><span>Media</span></a>
          <a href="/menu"><i class="fa fa-bars"></i><span>Menu</span></a>
          <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
