      <div class="footer-menu footer-4-icons footer-menu-center-icon">
        <a href="/subscription"><i class="fa fa-gift"></i><span>About</span></a>
          <!-- <a href="/products"><i class="fas fa-coffee"></i><span>제품</span></a> -->
          <a href="/index" class="active-nav"><i class="fa fa-home"></i><span>Main</span></a>
          <a href="/lectures"><i class="fas fa-video"></i><span>Lectures</span></a>
          <a href="/menu"><i class="fa fa-bars"></i><span>Mypage</span></a>
          <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
