<div class="divider divider-margins"></div>
<div class="content bottom-0">
    <h6 class="uppercase">전체 메뉴</h6>
    <div class="link-list link-list-2 link-list-long-border link-list-icon-bg">
        <a href="/subscription">
            <i class="fa fa-star bg-yellow1-dark round-circle shadow-huge"></i>
            <span>정기구독 알아보기</span>
            <strong>커피 구독과 함께 교육 기부를 할 수 있습니다</strong>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/lectures">
            <i class="fa fa-heart bg-red2-dark round-circle shadow-huge"></i>
            <span>교육 기부 목록</span>
            <strong>기부 하고 싶은 교육 강의를 찾아보세요</strong>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/products">
            <i class="fa fa-cog bg-blue2-dark round-circle shadow-huge"></i>
            <span>제품 검색</span>
            <strong>커피 원두를 검색해보세요</strong>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="/mypage">
            <i class="fa fa-camera bg-green1-dark round-circle shadow-huge"></i>
            <span>마이페이지</span>
            <strong>구독 관리 및 기부 내역</strong>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
