<div class="cover-slider owl-carousel bg-black">
    <div data-height="cover" class="caption">
        <div class="caption-center">
            <!-- <h1 class="center-text bottom-30"><i class="fa fa-4x fa-trophy color-yellow1-dark "></i></h1> -->
            <h1 class="center-text color-white bolder font-32 bottom-15">당신의 커피콩</h1>
            <h1 class="center-text color-white bolder font-32 bottom-15">13개가 모여</h1>
            <h3 class="center-text color-white bolder font-28 bottom-15"><span style="background: #DEB887">5명</span>의 난민이 <span style="background: #DEB887">12개</span>의 강의를</h3>
            <h1 class="center-text color-white bolder font-32 bottom-15">수강하였습니다.</h1>

            <p class="boxed-text-large color-white opacity-80">
                난민 교육에 동참하고싶으신가요?
            </p>
            <a href="/index" class="button button-m bg-highlight round-small button-center-small shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>
<!--
    <div data-height="cover" class="caption">
        <div class="caption-center">
            <h1 class="center-text color-white bolder fa-3x bottom-20">Captions Rock</h1>

            <div class="divider-small top-30 bottom-30 bg-highlight"></div>

            <p class="boxed-text-large color-white opacity-80">
                Limitless possibilities. Switch your cover to reflect
                your style and design. It's flexible beyond belief.
            </p>
            <a href="#" class="button button-m bg-highlight round-small button-center-small shadow-large">AWESOME</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(images/pictures/15t.jpg)"></div>
    </div> -->
<!--
    <div data-height="cover" class="caption">
        <div class="caption-center">
            <h1 class="center-text color-white bolder fa-3x bottom-10">Cover Pages</h1>
            <p class="boxed-text-large color-white opacity-80">
                Limitless possibilities. Switch your cover to reflect
                your style and design. It's flexible beyond belief.
            </p>
            <a href="#" class="button button-s bg-highlight button-round-large button-center-small shadow-large">AWESOME</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(images/pictures/11t.jpg)"></div>
    </div> -->

    <div data-height="cover" class="caption">
        <div class="caption-center">
            <h1 class="color-white bolder fa-4x left-20 bottom-20 top-50">Drink Coffee</h1>
            <h1 class="color-white bolder fa-5x left-20 bottom-20">Help</h1>
            <h1 class="color-white bolder fa-4x left-20 bottom-30">Refugees</h1>
            <p class="left-20 right-50 color-white opacity-90">
                커피 구매 가격의 25%는 난민 교육 지원 프로그램에 사용됩니다. <BR>얼어붙은 난민들의 일상에 당신의 온기를 나눠주세요.
            </p>
            <a href="/index" class="left-20 button button-s bg-highlight button-round-medium shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_02.jpeg)"></div>
    </div>
</div>
