<div class="cover-slider owl-carousel bg-black">
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 35%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                Blend your values
            </p>
            <h1 class="center-text color-white bolder font-32 bottom-15">가치 소비로 난민 교육에</h1>
            <h1 class="center-text color-white bolder font-32 bottom-15"> 동참해보세요</h1><br>
        </div>
        <div class="caption-overlay bg-black opacity-25"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg);"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 35%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 1
            </p>
            <h1 class="center-text color-white bolder font-30 bottom-15">가치소비로 상품을 구독 </h1>
            <h1 class="center-text color-white bolder font-30 bottom-15"> 혹은 결제합니다!</h1><br>
            <a href="/index" class="button button-m bg-highlight round-small button-center-small shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 35%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 2
            </p>
            <h1 class="center-text color-white bolder font-30 bottom-15">블렌드를 적립받고, </h1>
            <h1 class="center-text color-white bolder font-30 bottom-15"> 원하는 강의를 기부합니다.</h1><br>
            <a href="/index" class="button button-m bg-highlight round-small button-center-small shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 35%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 3
            </p>
            <h1 class="center-text color-white bolder font-30 bottom-15"> 기부한 교육 강의와</h1>
            <h1 class="center-text color-white bolder font-30 bottom-15"> 수강한 난민들을 확인하세요.</h1><br>
            <a href="/index" class="button button-m bg-highlight round-small button-center-small shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>

    <!-- <div data-height="cover" class="caption">
        <div class="caption-center">
            <h2 class="color-white bolder font-32 left-20 bottom-20 top-50">Drink Coffee</h2>
            <h1 class="color-white bolder font-32 left-20 bottom-20">Help</h1>
            <h1 class="color-white bolder font-32 left-20 bottom-30">Refugees</h1>
            <p class="left-20 right-50 color-white opacity-90">
                2. 구매금액에 따라 블렌드를 적립받고, 원하는 강의 컨텐츠에 기부합니다. <BR>얼어붙은 난민들의 일상에 당신의 온기를 나눠주세요.
            </p>
            <a href="/index" class="left-20 button button-s bg-highlight button-round-medium shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_02.jpeg)"></div>
    </div> -->
</div>
