<div class="cover-slider owl-carousel bg-black">
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 35%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                Blend your values
            </p>
            <h1 class="center-text color-white bolder font-16 bottom-15">구매하고, 적립받고, 기부하세요</h1><br>
            <h1 class="center-text color-white bolder font-32 bottom-15"> 나만의 가치소비</h1>
            <h1 class="center-text color-white bolder font-32 bottom-15"> 나만의 난민교육</h1><br>
        </div>
        <div class="caption-overlay bg-black opacity-25"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg);"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 25%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 1
            </p>
            <h1 class="center-text color-white bolder font-20 bottom-15">상품을 구독 혹은 결제하면 </h1>
            <h1 class="center-text color-white bolder font-20 bottom-15">블렌드가 적립됩니다.</h1><br>

        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 25%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 2
            </p>
            <h1 class="center-text color-white bolder font-20 bottom-15">원하는 강의를 골라 </h1>
            <h1 class="center-text color-white bolder font-20 bottom-15">기부 버튼 꾹!</h1><br>
        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 25%'>
            <p class="boxed-text-large bolder font-20 opacity-80" style='color:#F6BB42'>
                STEP 3
            </p>
            <h1 class="center-text color-white bolder font-20 bottom-15"> 얼만큼 기부했는지 한눈에 보고,</h1>
            <h1 class="center-text color-white bolder font-20 bottom-15"> 난민 학생들의 최애 강의도 확인해보세요.</h1><br>
            <a href="/users/sign_up" class="external button button-m bg-highlight round-small button-center-small shadow-large">블렌드 회원가입</a><br>
            <a href="/users/sign_in" class="external button button-m bg-highlight round-small button-center-small shadow-large">이미 블렌드 회원이에요</a><br>
        </div>
        <div class="caption-overlay bg-black opacity-20"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_01.jpg)"></div>
    </div>

    <!-- <div data-height="cover" class="caption">
        <div class="caption-center">
            <h2 class="color-white bolder font-32 left-20 bottom-20 top-50">Drink Coffee</h2>
            <h1 class="color-white bolder font-32 left-20 bottom-20">Help</h1>
            <h1 class="color-white bolder font-32 left-20 bottom-30">Refugees</h1>
            <p class="left-20 right-50 color-white opacity-90">
                2. 구매금액에 따라 블렌드를 적립받고, 원하는 강의 컨텐츠에 기부합니다. <BR>얼어붙은 난민들의 일상에 당신의 온기를 나눠주세요.
            </p>
            <a href="/index" class="left-20 button button-s bg-highlight button-round-medium shadow-large">더 알아보기</a>
        </div>
        <div class="caption-overlay bg-black opacity-80"></div>
        <div class="caption-bg" style="background-image:url(/images/cover_02.jpeg)"></div>
    </div> -->
</div>
