<div class="cover-slider owl-carousel bg-black">
    <div data-height="cover" class="caption">
        <div class="caption-center" style='top: 25%'>
            <h1 class="left-text font-28 bottom-15" style="margin-left: 20px">당신의 가치를</h1>
              <h1 class="left-text font-28 bottom-30" style="margin-left: 20px">블렌딩하세요.</h1><br>
            <div class="div">
              <div class="one-third center-text bottom-30">
                <h1><%= @point.point %></h1>
                보유 블렌드
              </div>
              <div class="one-third center-text bottom-30">
                <h1><%= @donation.present? ? @donation : "0" %></h1>
                기부한 블렌드
              </div>
              <div class="one-third last-column center-text bottom-30">
                <h1><%= @current_rank %></h1>
                기부 순위
              </div>
            </div>

            <p class="boxed-text-large font-18 opacity-80">
                블렌드한 당신, 오늘도 고생 많았어요
            </p>
            <a href="/subscription" class="button button-m bg-highlight round-small button-center-small shadow-large">더 알아보기</a>
        </div>
        <div class="caption-bg" style="background-image:url(/images/video.gif)"></div>
    </div>
</div>
