<div class="profile-header">
    <div class="profile-left">
        <h1><%= current_user&.name %><i class="fa fa-check-circle color-highlight"></i></h1>
        <p>
            <%= current_user&.email%>
        </p>
        <%# <a href="#" class="color-theme">1,513 <span> Followers</span></a>
        <a href="#" class="color-theme">342  <span>Following</span></a> %>
        <div class="clear"></div>
    </div>
    <div class="profile-right">
        <a href="#">
            <img src="/images/cover_02.jpeg" data-src="/images/cover_02.jpeg" class="preload-image shadow-large">
        </a>
    </div>
</div>
<% if current_user.user_type == "Learner" %>
  <%= render 'home/refugee'%>
<% else %>
  <%= render 'home/donor'%>
<% end %>
