<div class="profile-header">
    <div class="profile-left">
        <h1>Karla Black<i class="fa fa-check-circle color-highlight"></i></h1>
        <p>
            Karla Black is a name used when you generate a text with an annonymous name.
        </p>
        <a href="#" class="color-theme">1,513 <span> Followers</span></a>
        <a href="#" class="color-theme">342  <span>Following</span></a>
        <div class="clear"></div>
    </div>
    <div class="profile-right">
        <a href="#">
            <img src="images/empty.png" data-src="images/pictures/0s.png" class="preload-image shadow-large">
        </a>
    </div>
</div>

<div class="content bottom-0">
    <div class="one-half">
        <a href="#" class="button button-xs round-small shadow-large bg-highlight button-full bottom-30">Follow</a>
    </div>
    <div class="one-half last-column">
        <a href="#" class="button button-xs round-small shadow-large button-border button-full border-highlight color-highlight bg-transparent bottom-0">Send Message</a>
    </div>
    <div class="clear"></div>
</div>

<div class="divider divider-margins bottom-0"></div>

<div class="content gallery-view-controls">
    <a href="#" class="color-highlight gallery-view-1-activate"><i class="fa fa-th"></i></a>
    <a href="#" class="gallery-view-2-activate"><i class="fa fa-th-large"></i></a>
    <a href="#" class="gallery-view-3-activate"><i class="fa fa-bars"></i></a>
    <div class="clear"></div>
</div>

<div class="content bottom-20">
    <div class="gallery-views gallery-view-1">
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/10t.jpg" title="Vynil and Typerwritter">
            <img src="images/empty.png" data-src="images/pictures/10t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Messy Desk?</h4>
                <p>Some may consider this to be a very messy desk.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/11t.jpg" title="Fruit Cookie Pie">
            <img src="images/empty.png" data-src="images/pictures/11t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Designers Desk</h4>
                <p>With all the gadgets you'd ever wish for.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/28t.jpg" title="Plain Cookies and Flour">
            <img src="images/empty.png" data-src="images/pictures/28t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Apple Watch</h4>
                <p>The perfect and small notification device.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/18t.jpg" title="Pots and Stuff">
            <img src="images/empty.png" data-src="images/pictures/18t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">City Landscape</h4>
                <p>It's absolutely gorgeous, we'd love to see it live.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/14t.jpg" title="Delicious Strawberries">
            <img src="images/empty.png" data-src="images/pictures/14t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Typography and iPhone 5</h4>
                <p>A beautifully captured snap with great contrast.</p>
                <div class="divider bottom-0"></div>
            </div>
        </a>
        <a class="default-link" data-lightbox="gallery-1" href="images/pictures/15t.jpg" title="A Beautiful Camera">
            <img src="images/empty.png" data-src="images/pictures/15t.jpg" class="preload-image round-small shadow-huge responsive-image" alt="img">
            <div class="caption">
                <h4 class="bottom-0 color-theme">Feather and Paper?</h4>
                <p>Going back to days when things were simplere.</p>
            </div>
        </a>
    </div>
    <div class="clear"></div>
</div>


<div class="menu-hider"></div>
