<div class="content center-text">
    <h1>구독을 통해<br> 교육 기부에 참여하시겠습니까?</h1>
    <span class="under-heading color-highlight font-10">전 세계적으로 난민은 충분한 교육을 받지 못하고 있습니다.</span>
    <p class="boxed-text-huge top-10 bottom-50">
        아래 단계에 따라 구매를 진행해주세요:)
    </p>
</div>
<div class="content">
    <div class="content-title has-border border-green2-dark bottom-10">
        <h2>1. 원두를 구독합니다</h2>
    </div>
    <p class="bottom-30">
        진열된 원두 상품 중, 구독 혹은 구매하고 싶은 제품을 선택해주세요
    </p>
    <div data-height="250" class="caption caption-margins round-medium shadow-large">
        <div class="caption-bottom center-text bottom-25">
            <h1 class="font-28 color-white">원두 보러가기</h1>
            <span class="under-heading color-highlight font-11">공정무역을 통한 콜롬비아산 원두</span>
        </div>
        <div class="caption-overlay bg-gradient-fade"></div>
        <div class="caption-bg bg-9" style="background-image: url('/images/coffee_example.jpeg')"></div>
    </div>
</div>



<div class="content">
    <div class="content-title has-border border-red2-dark bottom-10">
        <h2>2. 기부 강의를 선택합니다</h2>
    </div>
    <p class="top-10 bottom-50">
        총 결제액의 25%로 선택하신 강의에 기부가 됩니다.
    </p>
    <div data-height="250" class="caption caption-margins round-medium shadow-large">
        <div class="caption-bottom center-text bottom-25">
            <h1 class="font-28 color-white">강의 둘러보기</h1>
            <span class="under-heading color-highlight font-11">난민들의 교육권을 도와주세요</span>
        </div>
        <div class="caption-overlay bg-gradient-fade"></div>
        <div class="caption-bg bg-9" style="background-image: url('/images/education.jpeg')"></div>
    </div>
</div>

<div class="content">
    <div class="content-title has-border border-yellow2-dark bottom-10">
        <h2>3. 구독 내역을 확인합니다</h2>
    </div>
    <p class="top-10 bottom-50">
        내가 구독한 제품과 함께 기부를 진행한 강의들을 확인할 수 있습니다.
    </p>
    <div data-height="250" class="caption caption-margins round-medium shadow-large">
        <div class="caption-bottom center-text bottom-25">
            <h1 class="font-28 color-white">정기구독 바로시작</h1>
            <span class="under-heading color-highlight font-11">교육 기부 참여하기</span>
        </div>
        <div class="caption-overlay bg-gradient-fade"></div>
        <div class="caption-bg bg-9" style="background-image: url('/images/computer.jpeg')"></div>
    </div>
</div>
<div class="content center-text">
    <h1>함께 가치소비를 시작해요</h1>
    <span class="under-heading color-highlight font-10">당신의 작은 소비로 난민의 인생을 바꿀 수 있습니다</span>
    <p class="boxed-text-huge top-10 bottom-30">
        HireChance는 100% 공정한 전문 커피를 판매함으로써 전 세계 난민들을 위한 온라인 기술과 언어 교육을 위한 경력 구축에 자금을 지원합니다.
    </p>
    <a href="/products" class="button button-m button-center-large bg-highlight button-circle shadow-huge bottom-30">정기구독 상품보기</a>
</div>

<div class="divider divider-margins top-10"></div>
<div class="visible-slider2-small single-slider owl-carousel owl-no-dots">
    <div class="slider-item center-text">
      <%= link_to subscription_path do %>
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-bottom center-text bottom-25">
                <h1 class="font-28 color-white">정기구독 알아보기</h1>
                <span class="under-heading color-highlight font-11">커피 정기구독으로 교육 기부에 참여하세요</span>
            </div>
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-bg bg-3" style="background-image: url(/images/video.gif)"></div>
        </div>
        <p class="boxed-text-huge top-10">
            난민과 상생하는 사회를 함께 만들어 나갈 수 있습니다:)
        </p>
      <% end %>
    </div>
    <div class="slider-item center-text">
      <%= link_to lectures_path do %>
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-bottom center-text bottom-25">
                <h1 class="font-28 color-white">교육 강좌 선택하기</h1>
                <span class="under-heading color-highlight font-11">현재 기부 가능한 교육 강좌 리스트입니다</span>
            </div>
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-bg bg-9"  style="background-image: url(/images/hand.jpeg)"></div>
        </div>
        <p class="boxed-text-huge top-10">
            난민들이 새로운 사회에 적응할 수 있도록, 원하는 강좌를 직접 골라 기부하실 수 있습니다.
        </p>
        <% end %>
    </div>
    <div class="slider-item center-text">
      <%= link_to products_path do %>
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-bottom center-text bottom-25">
                <h1 class="font-28 color-white">콜롬비아산 원두</h1>
                <span class="under-heading color-highlight font-11">공정무역으로 농부들에게 정당 수익을 제공합니다</span>
            </div>
            <div class="caption-overlay bg-gradient-fade"></div>
            <div class="caption-bg bg-9" style="background-image:url(/images/cover_02.jpeg)"></div>
        </div>
        <p class="boxed-text-huge top-10">
            우리의 커피는 매우 질 좋은 제품이고, 농부에게도 정당한 수익을 배분합니다.
        </p>
      <% end %>
    </div>
</div>

<!-- <div class="content">
    <p class="center-text bottom-20">
        <a href="#" class="icon icon-m bg-facebook icon-circle shadow-huge"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="left-15 right-15 icon icon-m bg-phone icon-circle shadow-huge"><i class="fa fa-phone"></i></a>
        <a href="#" class="icon icon-m bg-twitter icon-circle shadow-huge"><i class="fab fa-twitter"></i></a>
    </p>
</div> -->

<div class="divider divider-margins"></div>

<div class="content center-text">
    <h1>12, 043</h1>
    <span class="under-heading color-highlight font-10">개의 교육 강의가 기부되었습니다.</span>
    <p class="boxed-text-huge top-10">
        Hirechance의 기부자님들 덕분에 수 많은 난민들이 교육의 기회를 제공받았습니다.
    </p>
    <a href="/subscription" class="button button-s button-center-medium bg-highlight button-circle shadow-huge bottom-40">더 알아보기</a>
</div>

<div class="divider divider-margins"></div>


<div data-height="150" class="caption caption-margins round-medium top-20 shadow-huge">
    <div class="caption-top top-10 right-10">
        <a href="#" class="icon icon-xs float-right"><i class="fa fa-question-circle font-24"></i></a>
        <div class="clear"></div>
    </div>
    <a href="https://amnesty.or.kr/campaign/%EC%88%AB%EC%9E%90%EB%A1%9C-%EB%B3%B4%EB%8A%94-%EC%84%B8%EA%B3%84-%EB%82%9C%EB%AF%BC/" class="caption-bottom left-20 bottom-20" target='_blank'>
        <p class="color-white opacity-60 bottom-0">아셨나요?</p>
        <h1 class="color-white font-22">전 세계에 2,590만명의 난민이 있으며<br>140만명 이상이 재정착을 필요로 합니다.</h1>
    </a>
    <div class="caption-overlay bg-black opacity-80"></div>
    <div class="caption-bg bg-16"></div>
</div>

<div class="divider divider-margins"></div>

<div class="content center-text">
    <h1>한국, 그리고 세계의 난민</h1>
    <span class="under-heading color-highlight font-10">전 세계적으로 난민은 어떤 생활을 하고 있을까요?</span>
    <p class="boxed-text-huge top-10 bottom-50">
        전 세계적으로 난민들은 교육을 제대로 받지 못하고 있으며, 사회적 약자에서 벗어나지 못하고 있습니다.
    </p>
</div>

<div class="content bottom-0">
    <a href="https://www.bbc.com/korean/news-44632261" class="clear" target='_blank'>
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/10BAC/production/_102242586_yemen_refugee_2.png" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">제주 예멘: 예멘인 난민신청자들의 현실</h5>
            <span class="under-heading font-10 color-highlight">BBC 코리아</span>
            <p class="font-12">
                지난 21일 제주시의 한 관광호텔 앞에 4명의 남성이 서성이고 있었다. 이들은 지난 5월 제주에 들어온 예멘 출신의 난민신청자다.
            </p>
        </div>
    </a>
    <a href="https://nancen.org/2033" class="clear" target="_blank">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="https://images.unsplash.com/photo-1579296440601-efe78a19fa91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">[통계] 국내 난민 현황</h5>
            <span class="under-heading font-10 color-highlight">난민인권센터</span>
            <p class="font-12">
                난민인권센터는 2009년부터 국내난민현황을 모니터링 하고 있습니다. 올해 초 난민 관련 정부 각 부처에 난민 신청, 인정, 심사,..
            </p>
        </div>
    </a>
    <a href="https://amnesty.or.kr/campaign/%EC%88%AB%EC%9E%90%EB%A1%9C-%EB%B3%B4%EB%8A%94-%EC%84%B8%EA%B3%84-%EB%82%9C%EB%AF%BC/" target="_blank" class="clear">
        <div class="one-half small-half">
            <div data-height="95" class="caption round-small shadow-huge">
                <div class="caption-image">
                    <img src="https://amnesty.or.kr/wp-content/uploads/2019/06/Refugees-graphic1_Web_June-2019_Final_kr.jpg" class="responsive-image">
                </div>
            </div>
        </div>
        <div class="one-half large-half last-column">
            <h5 class="color-theme">숫자로 보는 세계 난민</h5>
            <span class="under-heading font-10 color-highlight">국제 엠네스티</span>
            <p class="font-12">
              전세계적으로 난민의 수는 몇 명이나 될까? 이 난민들이 재정착하는 곳은 어디일까?
            </p>
        </div>
    </a>
    <div class="clear"></div>
</div>

<div class="divider divider-margins"></div>

<div data-height="330" class="caption round-medium shadow-huge caption-margins">
    <div class="caption-center">
        <h1 class="center-text color-white font-32">고품질 원두만을 판매</h1>
        <p class="center-text color-white opacity-60 under-heading font-11">정기구독 고객님들의 높은 만족도가 증명합니다.</p>
        <p class="boxed-text-large color-white">
          우리는 커피 농부들과 직접적인 관계를 구축하고 그들이 평균적인 근무 조건, 임금, 그리고 그들의 특산품 커피가 시장 가격보다 높은 가격에 팔리도록 함으로써 그들의 노고를 기립니다.
        </p>
        <a href="/products" class="button button-circle button-center-small button-s bg-highlight">상품 상세</a>
    </div>
    <div class="caption-overlay bg-black opacity-80"></div>
    <div class="caption-bg bg-14" style="background-image:url(/images/cover_02.jpeg)"></div>
</div>

<div class="divider divider-margins"></div>

<div class="content center-text">
    <h1>구독 제품 소개</h1>
    <span class="under-heading color-highlight font-10">공정 무역 콜롬비아산 원두</span>
    <p class="boxed-text-huge top-10 bottom-30">
      커피를 통해 가치소비를, 그리고 난민들을 위한 교육 기부를 한번에 하실 수 있습니다
    </p>
</div>

<div class="visible-slider-small double-slider owl-carousel owl-no-dots bottom-0">

    <a href="https://hirechance.org/product/esperanza-drip-bag-coffee-subscription/" class="slider-item" target="_blank">
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-top left-15 top-15">
                <h1 class="color-white font-30">Esperanza</h1>
                <p class="under-heading color-white font-10">더보기 클릭</p>
            </div>
            <div class="caption-bottom bottom-15 left-15 right-15">
                <p class="color-white opacity-80 bottom-0">
                    드립백 커피 정기구독<br>
                    ₩55,000 – ₩660,000
                </p>
            </div>
            <div class="caption-overlay bg-black opacity-70"></div>
            <div class="caption-bg bg-1" style="background-image: url('/images/coffee_sample.png')"></div>
        </div>
    </a>
    <a href="https://hirechance.org/product/esperanza-ground-coffee-subscription/" class="slider-item"  target="_blank">
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-top left-15 top-15">
                <h1 class="color-white font-30">Esperanza</h1>
                <p class="under-heading color-white font-10">더보기 클릭</p>
            </div>
            <div class="caption-bottom bottom-15 left-15 right-15">
                <p class="color-white opacity-80 bottom-0">
                    원두 커피 분말 정기구독<br>
                    ₩55,000 – ₩660,000
                </p>
            </div>
            <div class="caption-overlay bg-black opacity-70"></div>
            <div class="caption-bg bg-2" style="background-image: url('/images/coffee_sample.png')"></div>
        </div>
    </a>
    <a href="https://hirechance.org/product/esperanza-whole-bean-coffee-subscription/" class="slider-item"  target="_blank">
        <div data-height="250" class="caption round-medium shadow-huge">
            <div class="caption-top left-15 top-15">
                <h1 class="color-white font-30">Esperanza</h1>
                <p class="under-heading color-white font-10">더보기 클릭</p>
            </div>
            <div class="caption-bottom bottom-15 left-15 right-15">
                <p class="color-white opacity-80 bottom-0">
                    원두커피 정기구독<br>
                    ₩55,000 – ₩660,000
                </p>
            </div>
            <div class="caption-overlay bg-black opacity-70"></div>
            <div class="caption-bg bg-3" style="background-image: url('/images/coffee_sample.png')"></div>
        </div>
    </a>

</div>

<div class="divider divider-margins"></div>

<div class="content center-text">
    <h1>함께 가치소비를 시작해요</h1>
    <span class="under-heading color-highlight font-10">당신의 작은 소비로 난민의 인생을 바꿀 수 있습니다</span>
    <p class="boxed-text-huge top-10 bottom-30">
        HireChance는 100% 공정한 전문 커피를 판매함으로써 전 세계 난민들을 위한 온라인 기술과 언어 교육을 위한 경력 구축에 자금을 지원합니다.
    </p>
    <a href="/subscription" class="button button-m button-center-large bg-highlight button-circle shadow-huge bottom-30">정기구독 바로가기</a>
</div>




<div class="menu-hider"></div>
