<div class="page-content header-clear-large">

  <div class="content left-30 right-30">
    <h1 class="font-30">배송정보 입력</h1>

    <div class="input-style input-style-1 input-required top-50">
      <span>받는분</span>
      <input type="name" placeholder="받는분">
    </div>
    <div class="input-style input-style-1 input-required top-50">
      <span>우편 번호</span>
      <input type="name" placeholder="우편번호">
    </div>
    <div class="input-style input-style-1 input-required">
      <span>기본주소</span>
      <input type="name" placeholder="기본주소">
    </div>
    <div class="input-style input-style-1 input-required">
      <span>상세주소</span>
      <input type="password" placeholder="상세주소">
    </div>
    <div class="clear"></div>

    <a href="#" class="back-button button button-full button-m round-small shadow-huge bg-highlight top-50 bottom-50">Create account</a>
  </div>
</div>
