<div class="cover-slider owl-carousel bg-white">
  <div data-height="cover" class="caption">
    <div class="caption-center" style='top: 35%'>
      <p class="center-text font-20 bottom-15" style="color:black">
        <img src="/images/congrats.gif" style="width: 200px; margin-bottom: 50px">
        <span class="bolder"><%= @donation.lecture.title %></span> 강의에<Br>
        <span class="bolder"><%= @donation.point %></span> 블렌드를<br>
          기부하였습니다!</p><Br><br>
          <a href="/index" class="external button button-m bg-highlight round-small button-center-small shadow-large" style="width: 100px">확인</a><br>
    </div>
    <!-- <div class="caption-overlay bg-black opacity-25"></div> -->
    <div class="caption-bg" style="background-color: white;"></div>
  </div>
</div>
